:vars {
  --foreground: #d9e0ee;
  --background: #1f1f28;
  --border-color: #59c2ff;
  --button-color: #59c2ff;
}

* {
  all: unset;
  color: var(--foreground);
  font-family: "Jost", "Cantarell", "Helvetica", "Arial", sans-serif;
}

#notification {
  padding: 0.8rem;
  margin: 7px 7px;
  border: 3px solid var(--border-color);
  background-color: var(--background);
}

#notification .summary {
  font-size: 20px;
  font-weight: bold;
}

#notification .body {
  color: #a5b9e1;
  font-weight: normal;
}

button {
  padding: 0.6rem;
  font-weight: 600;
  background-color: var(--button-color);
  color: #1f1f28;
}

button:hover {
  background-color: #618da6;
  color: #1f1f28;
}
